<template class="section-template">
  <script src="script/configuration.js"></script>
  <section id="configuration" class="wrapper style2 spotlights">
    <section>
      <div class="content">
        <div class="inner">
          <h2>Builder Configuration</h2>
          <p>The following are locations for scripts and models</p>
        </div>
        <div>
          <label for="scriptsLocation">Generation Scripts</label>
          <input type="text" id="scriptsLocation" editable="false">
        </div>
        <div>
          <label for="modelsLocation">Models</label>
          <input type="text" id="modelsLocation" editable="false">
        </div>
      </div>
    </section>
    <section>
      <div class="content inner">
        <h2>Existing Channels</h2>
        <p>The following are configured HLF Channels</p>
        <div id="tableChannels"></div>
        <ul class="actions">
          <li><a href="#addNewChannel" id="addNewChannel" class="button scrolly">Add New...</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class="content">
        <div class="inner">
          <h2>Add New Channel</h2>
          <p>Copy the channel key (JSON Format) from your Hyperledger Fabric Channel Dashboard (SAP Cloud Platform) and paste below</p>
          <div>
            <label for="addNewChannelKey">Channel Key (JSON)</label>
            <textarea name="newChannelKey" id="newChannelKey" rows="10" cols="80"></textarea>
          </div>
          <div id="addNewChannel">
            <label for="newChannelName">Channel Name</label>
            <input type="text" id="newChannelName">
          <div>
          <div class="content inner">
            <p>Naming: Please enter the name of the channel as it appears in your dashboard with extenson .json</p>
          </div>
          <div>
            <ul class="actions">
              <li><a href="#" width="25%" id="addNewChannelWithKey" class="button scrolly">Add Channel</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>
