<template class="section-template">
  <script src="script/generation.js"></script>
  <section id="generation" class="wrapper style4 spotlights">
    <div class="inner">
      <h2>Business Network Generation</h2>
      <div class="style1">
        <section>
            <div class="content inner">
              <label for="projectName">Select Project Name for Generation / Deployment</label>
              <select id="projectName">
              </select>
            </div>
            <div>
              <br/>
              <ul class="actions">
                <li><a href="#" width="25%" id="generateProject" class="button scrolly">Generate Project</a></li>
                <li><a href="#" width="25%" id="refreshProjectList" class="button scrolly">Refresh</a></li>
              </ul>
            </div>
            <div class="content inner">
              <label for="cfChannelDetails">Select SAP Cloud Foundry Channel for Deployment</label>
              <select id="cfChannelDetails">
              </select>
              <p>
                <br/>
                You can manage the channel instances that can be accessed by you for deployment in the configuraion section of this wizard.
              </p>
            </div>
            <div>
              <ul class="actions">
                <li><a href="#" width="25%" id="deployProject" class="button scrolly">Deploy Project</a></li>
                <li><a href="#" width="25%" id="refreshCfChannelDetails" class="button scrolly">Refresh</a></li>
              </ul>
            </div>
            <div class="content inner">
              <h3>Generate Sample Data in your business network</h3>
              <p>
                You can generate random sample data into the deployed business network.<br/>
                This can also be done later within or outside(run the script projectFolder/scripts/runCleanAllAndSetup.sh) this wizard.<br/>
                You can enhance sample data in JSON format in entity data files located at projectFolder/test/newman/CleanAllAndSetup/data)<br/>
                CAUTION:  This will erase all existing data in the blockchain and regenerate.<br/>
              </p>
            </div>
            <div>
              <ul class="actions">
                <li><a href="#" width="25%" id="generateData" class="button scrolly">Generate Sample Data</a></li>
              </ul>
            </div>
        </section>
      </div>
    </div>
  </section>
</template>
