<template class="section-template">
  <script src="script/ui.js"></script>
  <section id="ui" class="wrapper style5 spotlights">
    <div class="inner">
      <h1>Deploy Setup UI for your Business Network</h1>
      <p>
        SAPUI5 Application for setting up your business network.<br/>
        This can also be done later within or outside(run the script projectFolder/scripts/deployCFUI.sh) this wizard.<br/>
        This functionality requires that you have administrative rights on your client.<br/>
        (On a Mac you should be having right to run in "sudo" mode.)<br/>
        NOTE: Selected project must be in the status <b>deployed</b>.
      </p>
      <div>
        <section>
            <div class="content">
              <label for="uiProjectName">Select Project Name for Setup UI Deployment</label>
              <select id="uiProjectName">
              </select>
            </div>
            <div class="content">
              <p>
                You can manage the channel instances that can be accessed by you for deployment in the configuraion section of this wizard.
              </p>
            </div>
            <div>
              <ul class="actions">
                <li><a href="#" id="deploySetupUI" class="button scrolly">Deploy Setup UI...</a></li>
                <li><a href="#" id="refreshProjectsList" class="button scrolly">Refresh</a></li>
              </ul>
            </div>
        </section>
      </div>
    </div>
  </section>
</template>
